@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    align-items: center;
}

html, body {
    overflow-x: hidden;
    overflow-y: auto; 
    height: 100%; 
    background-color: #C9B6A3;
    color: black;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.1rem 10rem;
    background: linear-gradient(140.14deg, #D68F3Cff 15.05%, #C05E35ff 114.99%);
}

.logo {
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    align-items: center; 
}

.logo i {
    font-size: 40px;
    margin-right: 0.5rem;
    transition: all 0.6s;
}

.logo i:hover {
    transform: rotate(360deg);
}

.navmenu {
    display: flex;
}

.navmenu a {
    display: inline-block;
    margin: 0 1.5rem;
    color: black;
    font-weight: 500;
    position: relative; 
    transition: all 0.6s;
}

.navmenu a:hover {
    transform: translateY(-5px);
}

.nav-toggle {
    display: none;
    cursor: pointer;
    font-size: 2rem;
}

.home {
    width: 100vw; 
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center; 
    padding: 2rem 8rem;
    gap: 1rem; 
    background-color: #C9B6A3; 
    color: black;
    position: relative;
}

.home {
    width: 100vw; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C9B6A3; 
    color: black;
    position: relative;
    overflow: hidden; 
}

.home-content {
    text-align: center; 
    padding: 2rem 8rem;
}

.home-img img {
    width: 640px; 
    height: 550px;
    border-radius: 60%;
    height: auto;
    margin: 0;
    margin-left: 2rem;
    margin-top: 3rem;
    transition: transform 0.7s ease, filter 0.7s ease; 
    transform-origin: center;
    animation: floatAnimation 1.5s ease infinite alternate; 
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-35px);
    }
}

.home-img img:hover {
    transform: scale(1.1); 
    filter: brightness(1.2) drop-shadow(0 0 10px rgba(255, 255, 255, 0.8)); 
}

.home-page h2 {
    font-size: 63px;
    margin-bottom: 2rem;
    margin-left: 7rem;
}

.home-page h3 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
    text-align: center;
    margin-left: 11rem;
}

.italic {
    font-style: italic;
}

.home-page h3::before {
    content: "";
    position: absolute;
    width: 165px;
    height: 2px;
    background-color: black;
    top: 1rem;
    margin-left: -11rem;
}

.home-page p {
    margin-bottom: 2rem;
    font-size: large;
    margin-left: 7rem;
}

.button {
    background: linear-gradient(140.14deg, #D68F3Cff 15.05%, #C05E35ff 114.99%);
    border-radius: 20px;
    text-shadow: 1px 1px 1px #00000040;
    box-shadow: 8px 8px 20px 0px #45090059;
    padding: 10px 40px; 
    line-height: 20px; 
    cursor: pointer;
    color: white;
    margin-left: 7rem;
    margin-right: -5.7rem;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.6s;
}

.button:hover {
    box-shadow: none;
    opacity: 85%;
    transform: translateY(-8px); 
}

.button2 {
    background: linear-gradient(140.14deg, #D68F3Cff 15.05%, #C05E35ff 114.99%);
    border-radius: 20px;
    text-shadow: 1px 1px 1px #00000040;
    box-shadow: 8px 8px 20px 0px #45090059;
    padding: 10px 100px; 
    line-height: 20px; 
    cursor: pointer;
    color: white;
    margin-left: -0.5rem;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.6s;
}

.button2:hover {
    box-shadow: none;
    opacity: 0.85;
    transform: translateY(-8px); 
}

.soc-icons {
    position: absolute;
    left: 10.2rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.soc-icons i {
    display: block;
    margin: 25px 0;
    color: black;
    font-size: 2rem;
    transition: all 0.6s;
}

.soc-icons i:hover {
    transform: rotate(360deg);
}

.about {
    padding: 4rem 8rem;
    background-color: #E8D9C1;
    background-size: contain;
    color: black;
    width: 100vw; 
    margin-left: calc(-50vw + 50%); 
    position: relative;
}

.about h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.about p {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
    text-align: justify;

}

.about-content {
    display: flex;
    gap: 4rem;
}

.about-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.about-img img {
    width: 500px;
    border-radius: 20%;
    margin-bottom: 19.5rem; 
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-img img:hover {
    transform: scale(1.05); 
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3); 
}

.about-details {
    flex: 2;
}

.timeline, .fun-facts, .skills {
    margin-bottom: 2rem;
}

.timeline p {
    font-size: medium;
}

.year {
    font-size: large;
}

.timeline h3, .fun-facts h3, .skills h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.timeline ul, .fun-facts ul, .skills ul {
    list-style: none;
}

.timeline li, .fun-facts li, .skills li {
    margin-bottom: 1rem;
}

.skills li {
    margin-bottom: 2rem;
}

.timeline .year, .skills .year {
    font-weight: 600;
    margin-right: 1rem;
}

.fun-facts i, .skills i {
    margin-right: 0.5rem;
}

.work {
    padding: 4rem 8rem;
    background-color: #C9B6A3;
    color: black;
    text-align: center; 
}

.work h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.work h4 {
    margin-bottom: 2rem;
    font-size: 20px;
    text-align: center; 
    font-weight: 400;
}

.work p {
    margin-bottom: 2rem;
    font-size: larger;
    text-align: center; 
}

.project-thumbnails {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem;
    margin-top: 2rem;
}

.project {
    position: relative;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 550px; 
    width: 100%; 
}

.project:hover {
    transform: translateY(-5px);
}

.project img {
    width: 100%;
    border-radius: 10px;
    height: 200px; 
    object-fit: cover; 
}

.project-info {
    padding: 1rem 0;
    text-align: center;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-info h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.project-info p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem; 
    flex-grow: 1; 
}

.button3 {
    background: linear-gradient(140.14deg, #D68F3Cff 15.05%, #C05E35ff 114.99%);
    border-radius: 20px;
    text-shadow: 1px 1px 1px #00000040;
    box-shadow: 2px 4px 6px 0px #45090059;
    padding: 10px 35px;
    line-height: 20px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.6s;
    align-self: center; 
}

.button3:hover {
    box-shadow: none;
    opacity: 0.85;
    transform: translateY(-8px);
}

.contact {
    padding: 4rem 8rem;
    background-color: #E8D9C1;
    color: black;
    text-align: center;
}

.contact h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.contact p {
    margin-bottom: 2rem;
    font-size: larger;
    text-align: center;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 2rem;
    margin-top: 2rem;
}

.contact-info, .contact-form, .map {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info h3, .contact-form h3, .map h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.contact-info p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.contact-info a {
    color: #C05E35ff;
    text-decoration: none;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.contact-form button {
    align-self: center; 
}

.contact-form input, .contact-form textarea {
    padding: 0.6rem 1rem; 
    margin-bottom: 1rem;
    border: 1.5px solid black;
    border-radius: 5px;
    width: calc(100% - 2rem); 
}

.map iframe {
    border-radius: 10px;
}

.button4 {
    background: linear-gradient(140.14deg, #D68F3Cff 15.05%, #C05E35ff 114.99%);
    border-radius: 20px;
    padding: 10px 25px;
    line-height: 20px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.6s;
    align-self: center; 
    border: none;
}

.button4:hover {
    opacity: 0.85;
    transform: translateY(-8px);
}

@media (max-width: 768px) {
    .contact-container {
        grid-template-columns: 1fr; 
    }
}

footer {
    background: linear-gradient(140.14deg, #D68F3Cff 15.05%, #C05E35ff 114.99%);
    padding: 25px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    display: inline-block; 
    margin: 0 10px;
    font-size: 25px;
    color: black;
    transition: color 0.6s ease, transform 0.6s ease; 
}

.social-icons a:hover {
    transform: rotate(360deg);
}

footer p {
    font-size: 15px;
    color: black;
    margin: 0;
}

@media (max-width: 1078px) {    
    .home {
        width: 100vw; 
        height: 100vh;
        display: flex;
        align-items: center;
        justify-items: center; 
        padding: 2rem 4rem;
        gap: 1rem; 
        background-color: #C9B6A3; 
        color: black;
        position: relative;
    }

    .home-img img {
        width: 450px; 
        height: 395px;
        border-radius: 60%;
        margin-left: -8rem;
    }
    
    .home-page h2 {
        font-size: 3.6rem;
        margin-bottom: 2rem;
        margin-left: 7rem;
        text-align: justify;
    }
    
    .home-page h3 {
        font-weight: 600;
        margin-bottom: 2rem;
        position: relative;
        text-align: center;
        margin-left: 14.6rem;
    }
    
    .home-page h3::before {
        content: "";
        position: absolute;
        width: 165px;
        height: 2px;
        background-color: black;
        top: 1rem;
        margin-left: -11.1rem;
    }
    
    .home-page p {
        font-size: medium;
        margin-left: 7rem;
    }
    
    .soc-icons {
        position: absolute;
        left: 10.2rem;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -4rem;
    }
    
    .soc-icons i {
        display: block;
        margin: 28px 0;
        color: black;
        font-size: 1.6rem;
        transition: all 0.6s;
    }
    
    .soc-icons i:hover {
        transform: rotate(360deg);
    }

    .about {
        padding: 4rem 8rem;
        background-color: #E8D9C1;
        background-size: contain;
        color: black;
        width: 100vw; 
        margin-left: calc(-50vw + 50%); 
        position: relative;
    }
    
    .about h2 {
        font-size: 3.6rem;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
    }
    
    .about p {
        font-size: 1.2rem;
        margin-bottom: 2.5rem;
        text-align: justify;
    
    }
    
    .about-content {
        display: flex;
        gap: 4rem;
    }
        
    .about-img img {
        width: 365px;
        border-radius: 20%;
        margin-bottom: 40rem; 
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
        margin-left: 2rem;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .about-img img:hover {
        transform: scale(1.05); 
        box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3); 
    }
    
    .about-details {
        flex: 2;
    }
    
    .timeline, .fun-facts, .skills {
        margin-bottom: 2rem;
    }
    
    .timeline p {
        font-size: medium;
    }
    
    .year {
        font-size: large;
    }
    
    .timeline h3, .fun-facts h3, .skills h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .timeline ul, .fun-facts ul, .skills ul {
        list-style: none;
    }
    
    .timeline li, .fun-facts li, .skills li {
        margin-bottom: 1rem;
    }
    
    .skills li {
        margin-bottom: 2rem;
    }
    
    .timeline .year, .skills .year {
        font-weight: 600;
        margin-right: 1rem;
    }
    
    .fun-facts i, .skills i {
        margin-right: 0.5rem;
    }

    .work {
        padding: 4rem 8rem;
        background-color: #C9B6A3;
        color: black;
        text-align: center; 
    }
    
    .work h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .work h4 {
        margin-bottom: 2rem;
        font-size: larger;
        text-align: center; 
        font-weight: 400;
    }
    
    .work p {
        display: none;
    }
    
    .project-thumbnails {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 2rem;
        margin-top: 2rem;
    }
    
    .project {
        position: relative;
        background-color: white;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 400px; 
        width: 100%; 
    }
    
    .project:hover {
        transform: translateY(-5px);
    }
    
    .project img {
        width: 100%;
        border-radius: 10px;
        height: 200px; 
        object-fit: cover; 
    }
     
    .button3 {
        background: linear-gradient(140.14deg, #D68F3Cff 15.05%, #C05E35ff 114.99%);
        border-radius: 20px;
        text-shadow: 1px 1px 1px #00000040;
        box-shadow: 2px 4px 6px 0px #45090059;
        padding: 10px 35px;
        line-height: 20px;
        cursor: pointer;
        color: white;
        font-size: 15px;
        font-weight: 500;
        transition: all 0.6s;
        align-self: center; 
    }
}

@media (max-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }
    
    .navmenu {
        position: absolute;
        top: 100%;
        right: 0;
        width: 275px; 
        height: 700px;
        background: linear-gradient(140.14deg, #D68F3Cff 15.05%, #C05E35ff 114.99%);
        flex-direction: column;
        align-items: center;
        display: none;
        font-size: larger;
    }
    
    .navmenu.active {
        display: flex;
    }

    .navmenu a {
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }

    .nav-toggle {
        display: block;
    }

    .home {
        padding: 2rem 1rem; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .home-page h2 {
        font-size: 3.2rem; 
        margin: 0.5rem 0; 
        margin-top: 5rem;
        margin-left: 1rem;
    }

    .home-page h3 {
        font-weight: 600;
        font-size: larger;
        margin-bottom: 1rem;
        position: relative;
        text-align: center;
        margin-left: -7px;
    }
    
    .home-page h3::before {
        display: none;
    }

    .home-page p {
        font-size: large;
        margin: 0.5rem 0; 
        margin-bottom: 1.5rem;
    }

    .home-img img {
        width: 400px;
        height: 340px;
        margin: 1rem 0; 
        border-radius: 40%; 
        margin-top: 3rem;
        transition: transform 0.7s ease-in-out;
        margin-left: -2rem;
        transition: transform 0.7s ease, filter 0.7s ease; 
        transform-origin: center;
        animation: floatAnimation 1.5s ease infinite alternate; 
    }
    
    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-12px);
        }
    }
    
    .button {
        padding: 10px 20px; 
        font-size: 14px; 
        margin: 0.5rem; 
    }

    .soc-icons {
        display: grid; 
        grid-auto-flow: column; 
        justify-content: center; 
        gap: 2rem; 
        margin: 1rem 0; 
        margin-top: -1rem;
        margin-left: 1.1rem;
    }

    .soc-icons i {
        color: black;
        font-size: 1.5rem;
        transition: all 0.6s;
    }

    .soc-icons i:hover {
        transform: rotate(360deg);
    }

    .about {
        padding: 4rem 1rem; 
    }

    .about-content {
        flex-direction: column; 
        align-items: center; 
    }

    .about-img {
        margin-left: 0; 
        text-align: center;
        margin-bottom: 1.5rem; 
    }

    .about-img img {
        width: 280px; 
        border-radius: 20%; 
        margin-bottom: -4.5rem;
        margin-left: 0.5rem;
    }

    .about-details {
        text-align: center; 
    }

    .about h2 {
        font-size: 3.2rem;
        text-align: center; 
        margin-top: 1rem; 
    }

    .about p {
        font-size: medium;
        text-align: center; 
        margin-left: 0; 
        margin-bottom: 1rem;
    }

    .timeline p {
        text-align: center;
    }

    .fun-facts ul, .skills ul {
        text-align: justify;
        margin-left: 1.5rem;
    }

    .fun-facts h3, .skills h3 {
        margin-top: -1rem;
    }

    .work {
        padding: 4rem 2rem; 
    }

    .work h2 {
        margin-top: 1.5rem;
    }

    .project-thumbnails {
        grid-template-columns: 1fr; 
    }

    .project {
        width: 370px;
        height: auto; 
        margin-bottom: 1rem; 
        margin-left: 2rem;
    }

    .project-info p {
        display: none;
    }

    .contact {
        padding: 4.1rem 2rem; 
    }

    .contact-container {
        grid-template-columns: 1fr; 
    }

    .map iframe {
        width: 100%;
    }
}






