@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: "Josefin Sans";
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

.container-1 {
    font-family: "Josefin Sans";
    width: 450px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-right: 20px;
}

.container-2 {
    font-family: "Josefin Sans";
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 400px;
    height: 720px;
    padding: 10px;
    margin-left: 20px;
}

.box {
    font-family: "Josefin Sans";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

#box1 {
    background-color: #7FBCD2;
}

#box2 {
    background-color: #ff4646;
}

#box3 {
    background-color: #B6E388;
}

#box1, #box2, #box3 {
    font-size: 50px;
}

.button {
    font-family: "Josefin Sans";
    background-color: rgb(75,33,165);
    color: white;
    border: 2px solid black;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    width: 100%;
}

.button:hover {
    background-color: #a86add;
}

.class {
    grid-column: 1 / span 2;
}

h1, h2, h3, h4 {
    grid-column: 1 / span 2;
    margin: 5px 0;
    font-size: 22px;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    box-sizing: border-box;
}
